a p{
 
  color: white;
  font-size: 21px;
}
h2,h3,h4,h5{
  font-family: 'Electrolize', sans-serif;   
  color:teal ;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
.header {
font-family: 'Electrolize', sans-serif;
}


