<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partes/imports%>

</head>

<body class="white">

    <div class="parallax-container ">
        <div class="parallax"><img src="/img/frutas1.jpg"></div>
    </div>
    <div class="brown lighten-4">

            <% include ../partes/header %>


        <div class="row">
            <div class="input-field col s6">
                <br>
                <img src="/img/patatas-revolconas.jpg" width="930" height="700">
            </div>
            <div class="input-field col s6">
                <h1>INGREDIENTES</h1>
                <h4>Ingrediente 1</h4>
                <h4>Ingrediente 2</h4>
                <h4>Ingrediente 3</h4>    
                <h4>Ingrediente 4</h4>
                <h4>Ingrediente 5</h4>
                    
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <h1>PREPARACION</h1>
                <font face="Comic Sans MS,arial,verdana">
                <h5><p>Comida rápida, opciones saludables. Parece un contra sentido, últimamente se intuyen como conceptos contradictorios
                    entre sí…, pero la realidad es que no lo son. Existen y pueden considerarse seriamente, las opciones
                    sanas en los restaurantes de comida rápida. Es verdad… la comida rápida es barata, cómoda, satisface
                    y para muchos de nosotros sabe muy bien. Sí: al salir a comer, un restaurante de comida rápida es a menudo
                    la opción más barata, pero por desgracia, no siempre la más sana. Comer una sola comida rápida puede
                    comprometer suficientes calorías, sodio y grasa equivalente a un día entero o más. Comer alimentos de
                    preparación rápida de manera regular puede conducir a una gran cantidad de diferentes problemas de salud,
                    tanto física como psicológica. Sin embargo, en una mala economía la tentación rápida y barata a menudo
                    puede ser difícil de resistir. Como un cliente informado, sin embargo, puedes tomar decisiones más saludables
                    y seguir disfrutando de el precio y la conveniencia de restaurantes de comida rápida. A modo de ejemplo,
                    una sola comida de una hamburguesa doble con queso, con una orden de papas fritas medianas, y un pastel
                    de manzana (típicos de las más conocidas cadenas de comida rápida) contiene más grasas saturadas que
                    lo que se recomienda que se consuma en dos días. Mi consejo es: revisa con cuidado las propuestas gastronómicas
                    de estos locales ya que últimamente están incluyendo opciones saludables, como ensaladas y jugos. En
                    algunos países se los obliga legalmente y ello es muy bienvenido, créeme, por un amplio segmento de la
                    población.</p></h5></font>
            </div>
        </div>

    </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/img/vegetales.jpg"></div>
    </div>

</body>

</html>