<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partes/imports %>
</head>

<body>
  <% include ./partes/header %>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>AYUDANOS A CAMBIAR AL MUNDO</h4>
        <p>Quieres Saber como cambiar al mundo!!! Suscribete </p>


        <div class="row">
          <form method="POST" action="/auth/login" class="col s6">

            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" name='username' class="validate">
                <label for="email">Email</label>
              </div>

                <div class="input-field col s12">
                  <input id="password" type="password" name='password' class="validate">
                  <label for="password">Password</label>
                </div>
                 <button class="btn" type="submit">Ingresar</button>

              </div>
            
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <a href="/auth/registro" class="modal-action modal-close waves-effect waves-green btn-flat ">Unete</a>
      </div>
    </div>

    <div id="index" class="parallax-container" style="  min-height: 500px">
      <div class="section no-pad-bot">
        <div class="container" style="padding-top: 15px">

          <h1 class="header center " style='padding-top:100px; text-shadow: 0px 2px 2px rgba(3, 0, 0, 5.3);
font-size:600%;color:#ffffff '><strong>PAREMOS POR FAVOR</strong></h1>

        </div>
      </div>
      <div class="parallax"><img src="img/deforestacion-agresiva.jpg" alt="Unsplashed background img 1">
      </div>
    </div>



    <div id='ad' class="container">
      <div class="section" style='padding-top: 10%'>

        <div class="row">
          <div class="col s12 right" style='height:500px '>
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h2>ACERCA DE NOSOTROS</h2>
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">assignment_late</i></h2>
                  <h5 class="center">MISION</h5>

                  <p class="light"> Poner en marcha iniciativas de desarrollo sustentable con la participación de jóvenes en BOLIVIA.</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
                  <h5 class="center">VISION</h5>

                  <p class="light">
                    Ser una organización reconocida cuyo trabajo contribuye a la generación y fortalecimiento de una cultura ambiental en BOLIVIAs
                  </p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                  <h5 class="center">OBJETIVOS</h5>

                  <p class="light">
                    Crear Consientización en las Personas , para que la destrucción del planeta y sus consecuencias sean menos trágicas en un
                    futuro cercano.

                  </p>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>

    <div id='c' class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h4 class="header col s12 light" style='color: white'>AMERICA DEL SUR SE DESTRULLE 2 millones de Arboles</h4>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/bg3.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
      <div class="section">

        <h4><strong> QUIENES SOMOS</strong></h4>
        <div class="row">
          <div class="col s8 center" style='height:500px '>

            <img src='img/logo.png'>
          </div>
          <div class="col s4">
            <div class="carousel carousel-slider center" data-indicators="true">

              <div class="carousel-item red white-text" href="#one!">
                <h2>RICARDO PAUCARA</h2>
                <p class="white-text">desarrollador web y app</p>
               
              </div>
              <div class="carousel-item amber white-text" href="#two!">
                <h2>Roy</h2>
                <p class="white-text">diseñador grafico</p>
              </div>
              <div class="carousel-item green white-text" href="#three!">
                <h2>EZEQUIEL</h2>
                <p class="white-text">Diseñador de base de datos </p>
              </div>
              <div class="carousel-item blue white-text" href="#four!">
                <h2>ALEJANDRO</h2>
                <p class="white-text">Desaroolador movil</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div id='ct' class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h4 class="header col s12 light" style='color:black'>Ayudanos a Concientizar ala Personas</h4>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/bg2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s6 center" style='height:500px '>
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h3>CONTACTANOS</h3>

            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nombre</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Ciudad de Locación</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="TU OPINION CUENTA" type="text" class="validate">
                    <label for="disabled">Comentario </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12">
                    <a class="waves-effect waves-light btn">ENVIAR</a>
                    <!-- Modal Trigger -->

                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col s3 center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.422359217939!2d-68.13210548596906!3d-16.504761545221868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f206520793ddd%3A0x53f6df346cc69976!2sUniversidad+Mayor+de+San+Andr%C3%A9s+(UMSA)!5e0!3m2!1ses-419!2sbo!4v1492068050455"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light" style='color:white'>Es Responsabilidad de Nosotros hacer el Cambio</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/bg1.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">No te Comas el Planeta</h5>
            <p class="grey-text text-lighten-4">Un Sistema de Informacion Creado Para insentivar Al Cuidado de Nuestro Planeta</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Configuracion</h5>
            <ul>
              <li><a class="white-text" href="#!">Idiomas</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Contactanos Atraves</h5>
            <ul>
              <li><a class="white-text" href="#!">Facebook</a></li>
              <li><a class="white-text" href="#!">Email</a></li>
              <li><a class="white-text" href="#!">Twiter</a></li>
              <li><a class="white-text" href="#!">WhatsApp</a></li>
            </ul>
          </div>
        </div>
      </div>

    </footer>
<% if(!estaAutentificado){%>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red pulse" href="#modal1">
        <i class="large material-icons">person</i>
      </a>

    </div>
<%}%>
</body>

</html>